# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="mysql://root:password@localhost:3306/test"

SAGE_DATABASE_HOST="SERVER2022\SQLEXPRESS"
SAGE_DATABASE_USER="sa"
SAGE_DATABASE_PASSWORD="PASSWORD"
SAGE_DATABASE_NAME="DB"

INTREXX_DATABASE_HOST="SERVER2022\SQLEXPRESS"
INTREXX_DATABASE_USER="sa"
INTREXX_DATABASE_PASSWORD="PASSWORD"
INTREXX_DATABASE_NAME="DB"

# Mail Config
EMAIL_SERVER_USER=username
EMAIL_SERVER_PASSWORD=password
EMAIL_SERVER_HOST=smtp.example.com
EMAIL_SERVER_PORT=587
EMAIL_FROM=noreply@example.com

NODE_ENV="development"

#FTP Config
FTP_HOST="localhost"
FTP_PORT=22
FTP_USER="root"
FTP_PASSWORD="password"
FTP_BASE_PATH="/www/htdocs/data/"
IMAGE_URL="https://example.com/data/"